.showCase {
  margin: 16px 7px 40px;
}

.titleShowCase {
  font-family: Nunito;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  padding-left: 13px;
}

.bar {
  width: 32px;
  border-bottom: 4px solid #C0C0C0;
  margin-bottom: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  color: #7A7A7A;
  margin-right: 24px;
}

.offBlock {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.backgroundOff {
  position: absolute;
  right: 0;
  border-left: 50px solid transparent;
  border-top: 50px solid #F8475F;
}

.off {
  position: absolute;
  right: 0;
  padding: 7.57px 5px 0 0;
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-align: right;
}

.productImage {
  width: 132px;
  margin: auto;
}

.productName {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  margin-top: 5px;
  white-space: nowrap;
}

.stars {
  display: flex;
}

.star {
  margin-right: 3px;
}

.hide {
  visibility: hidden;
}

.listPrice {
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-decoration-line: line-through;
}

.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.installments {
  font-size: 11px;
  line-height: 15px;
}

.buttonBuy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 36px;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

.contentRegister {
  background-color: #F2F2F2;
  color: #333;
  padding: 24px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleRegister {
  font-size: 22px;
  line-height: 22px;
  font-family: Lato;
  font-weight: 700;
  padding-bottom: 19px;
}

.bodyRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 288px;
  height: 48px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  outline-color: #BDBDBD;
  padding: 17px;
  font-family: Lato;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #585858;
}

.inputEmail {
  margin-top: 22px;
}

.inputError {
  border: 1px solid #D7182A;
}

.error {
  font-family: Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #D7182A;
  margin-top: 8px;
}

.buttonRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 48px;
  border-radius: 5px;
  background-color: #000;
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin-top: 7px;
}

.buttonDisabled {
  background-color: #333333;
}

.titleRegisterSuccess {
  font-size: 14px;
  line-height: 14px;
  font-family: Lato;
  font-weight: 700;
}

.textRegisterSuccess {
  font-family: Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 15px;
  text-align: center;
}

.contactText {
  text-align: left;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .banner {
    width: 100%;
  }
  .showCase {
    width: 1172px;
    margin-right: auto;
    margin-left: auto;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 216px;
    color: #7A7A7A;
    margin-right: 24px;
  } 
  .card:hover {
    background-color: #E6E8EA;
  }
  .bodyRegister {
    display: flex;
    align-items: baseline;
    flex-direction: row;
  }
  .inputs {
    display: flex;
    align-items: baseline;
  }
  .input {
    margin-right: 8px;
  }
  .inputEmail {
    margin-top: 0;
  }
}
